./node_modules/*
./node_modules
node_modules
.nyc_output
coverage
dist
yarn-error.log
./yarn-error.log
.env
yarn-error.log
*.code-workspace
ormconfig.json
./ormconfig.json
*.aws-sam
lib
event.*.json
.npmrc
*-template.yaml
dynamodb